body{
    background: rgb(71, 3, 3);
    border: 5px solid rgb(71, 3, 3);
    height: 250vw;
}

.container {
    background : rgb(68, 104, 101) ;
}

.section1 {
    background: rgba(37, 37, 136, 0.938);
}
.section2 {
    background: rgb(161, 138, 96);

}
.section3 {
    background: rgb(55, 95, 61);

}

button {
    padding: .5px 10px;
    margin-bottom: 5px;
    border: 5px solid rgb(71, 3, 3);
    border-bottom-right-radius : 15px;
    background:rgb(97, 97, 153);

    
     
    
}

